body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.bg-blue{
    display: inline-block;
    width:100%;
    /* background-color: blue; */
}
.container{
    display: inline-block;
    width:100%;
    padding-top: 60px;
    padding-bottom: 60px;
    /* text-align: center; */
    /* background-color: cyan; */
    }
    .hero-row{
      display: inline-block;
      width: 600px;  
      margin-left: calc( ( 100% - 600px ) / 2);
      margin-right: calc( ( 100% - 600px ) / 2);
      text-align: center;
      /* background-color: crimson; */
    }
    .hero-row >.logo{
        height: 40px;
        width: 100%;
        object-fit: contain;
        object-position: center;
        margin-bottom: 60px;

        }    
        .title{
        text-transform: uppercase;
        font-size: 60px;
        line-height: 50px;
        margin-bottom: 30px;
        }
        .sub-title{
            color: red;
            line-height: 30px;
            margin-bottom: 60px;

        }
        .clock{
            margin-bottom: 60px;
        }

        .hero-row > .form{
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 20px;
        }

    .row{
        display: inline-block;
        width:1000px;
        margin-left: calc( ( 100% - 1000px ) / 2);
        margin-right: calc( ( 100% - 1000px ) / 2);
        /* background-color: crimson; */
        
    }
   
    .hero-bg{
        background-image: url(../img/hero-bg.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        
    }
        .left-column{
            width:50%;
            /* background-color: chartreuse; */
            float: left;
        }
        .right-column{
            width:40%;
            /* background-color: coral; */
            float: right;
        }
            .column-title{
                margin-bottom: 30px;
            }
            .column-description{
                margin-bottom: 30px;
            }

        .social{
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid white;
            float: left;
        }

.footer-texts{
    display: inline-block;
    /* mano nuomone Width nereikia keisti i 600px, palikti 100%, nes vis tiek riekes centruoti */
    width: 600px;
    /* margin-left: calc( ( 100% - 600px ) / 2); */
    /* margin-right: calc( ( 100% - 600px ) / 2); */
    float: left;

}

@media(max-width: 1000px) {
    .row{
        width:800px;
        margin-left: calc( ( 100% - 800px ) / 2);
        /* margin-right: calc( ( 100% - 800px ) / 2); */
        /* background-color: grey; */
        
    }
}

    @media(max-width: 900px) {
        .row{
            width:600px;
            margin-left: calc( ( 100% - 600px ) / 2);
            /* margin-right: calc( ( 100% - 600px ) / 2); */
            /* background-color: blue; */
        }
        
        .left-column{
            width:100%;
            /* background-color: green; */
            margin-bottom: 60px;
            
        }
        .right-column{
            width:100%;
            /* background-color: red; */
          
        }
}  

@media(max-width: 616px) {
    .hero-row{
        width: 400px;  
        margin-left: calc( ( 100% - 400px ) / 2);
        margin-right: calc( ( 100% - 400px ) / 2);
        /* background-color: rebeccapurple; */
      }
    .row{
        width:400px;
        margin-left: calc( ( 100% - 400px ) / 2);
        margin-right: calc( ( 100% - 400px ) / 2);
        /* background-color: yellow; */
    }
    .footer-texts {
        display: inline-block;
        width: 400px;
        margin-left: calc( ( 100% - 400px ) / 2);
        margin-right: calc( ( 100% - 400px ) / 2);
}
}


@media(max-width: 500px) {
    .container {
        /* width: 400px; */
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero-row{
        width:80%;
        margin-left: 0;
        
        /* background-color: rebeccapurple; */
      }
    .row{
        width:100%;
        margin-left: 0;
        /* background-color: yellow; */
    }
    .footer-texts {
        width:100%;
        margin-left: 0;
        /* background-color: chartreuse; */

}
   

}  

