
.bg-blue{
    display: inline-block;
    width:100%;
    background-color: blue;
}
.container{
    display: inline-block;
    width:100%;
    padding-top: 60px;
    padding-bottom: 60px;
    /* text-align: center; */
    /* background-color: cyan; */
    }
    .hero-row{
      display: inline-block;
      width: 600px;  
      margin-left: calc( ( 100% - 600px ) / 2);
      margin-right: calc( ( 100% - 600px ) / 2);
      text-align: center;
      /* background-color: crimson; */
    }
    .hero-row >.logo{
        height: 40px;
        width: 100%;
        object-fit: contain;
        object-position: center;
        margin-bottom: 60px;

        }    
        .title{
        text-transform: uppercase;
        font-size: 60px;
        line-height: 50px;
        margin-bottom: 30px;
        }
        .sub-title{
            color: red;
            line-height: 30px;
            margin-bottom: 60px;

        }
        .clock{
            margin-bottom: 60px;
        }

        .hero-row > .form{
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 20px;
        }

    .row{
        display: inline-block;
        width:1000px;
        margin-left: calc( ( 100% - 1000px ) / 2);
        margin-right: calc( ( 100% - 1000px ) / 2);
        /* background-color: crimson; */
        
    }
   
    .hero-bg{
        background-image: url(../img/hero-bg.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        
    }
        .left-column{
            width:50%;
            /* background-color: chartreuse; */
            float: left;
        }
        .right-column{
            width:40%;
            /* background-color: coral; */
            float: right;
        }
            .column-title{
                margin-bottom: 30px;
            }
            .column-description{
                margin-bottom: 30px;
            }

           footer.container{
               padding-top: 0;
           } 

        .social{
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid white;
            float: left;
            text-align: center;
            margin-bottom: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            
        }

        .social > a {
            padding: 10px;
            text-decoration: none;
            color: white;
            line-height: 20px;
            width: 40px;
            /* background-color: red; */
            margin: 10px;

           
        }
        .social > a:hover {
            background-color: white;
            border-radius: 50%;
            color: blue;
         
       
        }


.footer-texts{
    display: inline-block;
    width:  600px;
    margin-left: calc( ( 100% - 600px ) / 2);
    margin-right: calc( ( 100% - 600px ) / 2);
    float: left;
    text-align: center;
    color: white;
    font-size: 18px;
}

    .footer-texts > .logo {
        margin-bottom: 30px;
        height: 40px;
        width: 100%;
        object-fit: contain;
        object-position: center;

    }

    .copyright{
        display: inline-block;
        width: 100%;
    }

        .copyright > .texts {
            display: inline-block;
            float: left;

        }

            .copyright > .texts.borders {
                margin-right: 20px;
                margin-left: 20px;
                position: relative;
            }

            .copyright > .texts.borders::before {
               display: inline-block;
               content:'';
               height: 10px;
               width: 1px;
               background-color: white;
               position: relative;
               left: -9px;
               top: 0px;
            }
            .copyright > .texts.borders::after {
               display: inline-block;
               content:'';
               height: 10px;
               width: 1px;
               background-color: white;
               position: relative;
               right: -9px;
               top: 0px;
            }
            
    .footer-texts > p{}

    .footer-texts a {
        color: white;
    }

@media(max-width: 1000px) {
    .row{
        width:800px;
        margin-left: calc( ( 100% - 800px ) / 2);
        /* margin-right: calc( ( 100% - 800px ) / 2); */
        /* background-color: grey; */
        
    }
}

    @media(max-width: 900px) {
        .row{
            width:600px;
            margin-left: calc( ( 100% - 600px ) / 2);
            /* margin-right: calc( ( 100% - 600px ) / 2); */
            /* background-color: blue; */
        }
        
        .left-column{
            width:100%;
            /* background-color: green; */
            margin-bottom: 60px;
            
        }
        .right-column{
            width:100%;
            /* background-color: red; */
          
        }
}  

@media(max-width: 700px) {
    .hero-row{
        width: 400px;  
        margin-left: calc( ( 100% - 400px ) / 2);
        margin-right: calc( ( 100% - 400px ) / 2);
        /* background-color: rebeccapurple; */
      }
    .row{
        width:400px;
        margin-left: calc( ( 100% - 400px ) / 2);
        margin-right: calc( ( 100% - 400px ) / 2);
        /* background-color: yellow; */
    }
    .footer-texts {
        display: inline-block;
        width: 400px;
        margin-left: calc( ( 100% - 400px ) / 2);
        margin-right: calc( ( 100% - 400px ) / 2);
}
.copyright > .texts {
    width: 100%;

}
.copyright > .texts.borders {
    margin: 0;
}
.copyright > .texts.borders::before,
 .copyright > .texts.borders::after {
    display: none;


}
}

@media(max-width: 500px) {
    .container {
        /* width: 400px; */
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero-row{
        width:80%;
        margin-left: 0;
        
        /* background-color: rebeccapurple; */
      }
    .row{
        width:100%;
        margin-left: 0;
        /* background-color: yellow; */
    }
    .footer-texts {
        width:100%;
        margin-left: 0;
        /* background-color: chartreuse; */

}
   

}  

